<%= link_to bookmarks_path, id:'bookmarks_nav', class: 'nav-link' do %>
  <%= 'Cart' %>
<span class="badge badge-secondary" data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>
<% end %>
