<div class="jumbotron text-center">
  <h1 class="jumbotron-heading">Welcome</h1>

  <p class="lead">A customized search engine</p>

  <p>
    <%= link_to 'Read the Documentation', 'https://www.cognivasolutions.com/', class: 'btn btn-primary' %>
    <%= link_to 'See toturial videos', 'https://www.cognivasolutions.com/', class: 'btn btn-outline-secondary' %>
  </p>
</div>