<div class="jumbotron text-center">
  <h1 class="jumbotron-heading">Welcome</h1>

  <p class="lead">A customized search engine</p>

  <p>
    <%= link_to "structured", {"f[document_genre_ssim][]": "structured"}, class: 'btn btn-primary' %>
    <%= link_to "unstructured", {"f[document_genre_ssim][]": "unstructured"}, class: 'btn btn-primary' %>
  </p>
</div>